# EditorConfig file to my-make-things project. This configures certain editor
# settings so everything looks consistent.
#
# You can (usually) set the following properties. The format used below is
#   property_name (support): settings
# The property_name is an unquoted string. The (support) is either all (all
# plugins support it), widely (most plugins/editors support it), or a list of
# editors that support the property. The values assigned to property are the
# unquoted specified strings, or a positive integer. Like property names, the
# values are also unquoted.
#
# Supported properties are:
#   indent_style (all): tab, space
#   indent_size (all): <+integer>, tab
#   tab_width (all): <+integer>
#       note: tab_width defaults to indent_size when indent_size is a number
#   end_of_line (all): lf, crlf, cr
#   char_set (widely): latin1, utf-8, utf-16be, utf-16le, utf-8-bom
#   trim_trailing_whitespace (widely): true, false
#   insert_final_newline (widely): true, false
#
# The following properties are supported by a limited number of editors:
#   max_line_length: <+integer>, off
#       note: supported by Emacs, Vim, Atom, ReSharper, Rider, AppCode,
#           IntelliJ IDEA, PhpStorm, PyCharm, RubyMine, WebStorm, Kakoune

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.py]
indent_size = 4

[*.{c,h,cpp,hpp}]
indent_size = 4

[*.yml]
indent_size = 2
